#mainMenuCTN{
    font-family: musamin;
    display: flex;

    flex-direction: row;
    justify-content: space-around;
    width: 70%;
    
    border-radius: 10px;
    box-shadow: 0 0 4px black;

    padding-top: 10px;
    padding-bottom: 10px;

    margin: auto;
}

#mainMenuInterface{
    /*box-shadow: 0 0 10px black;*/

    right: 0;
    padding: 1em;
    background-color: white;
}
#mainMenuInterface h1{
    text-decoration: underline;
}
.mainMenuBTN{
    background-color: rgb(104, 172, 37);
    font-family: 'musamin';
    font-size: 1.2em;
    width: 50%;
    padding: 10px;

    margin-top: 30px;

    color: white;
    border: 0;
    display: block;

    cursor: pointer;
}
.mainMenuBTN:hover{
    opacity: 0.7;
}

