/***************************************************************/
#plateauCTN{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);

    width: 600px;
    height: 600px;
    padding: 0;

    box-shadow: 0 0 7px black;
}
/*rgb(173, 57, 57) rgb(238, 123, 123 */
.blackTile{
    background-color: #769656;
}

.whiteTile{
    background-color: #eeeed2;
}

.playerTile:hover{
    cursor: pointer;
}

.possibleMoveIcon{
    background-color: #e2e25fcc;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 40%;
    height: 40%;

    border-radius: 10px;
}

/****************************************************************/
#piecesCTN{
    position: absolute;

    width: 600px;
    height: 600px;
}
.pieceElement{
    position: absolute;;
    height: 75px;
}
.pieceElement img{
    width: 100%;
    height: 100%;
}

/****************************************************************/
#clickLayer{
    position: absolute;

    opacity: 0;

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);

    width: 600px;
    height: 600px;
    padding: 0;
}

.clickableCase{
    opacity: 0;
}